<div *ngIf="LoginForm" style="text-align: center;">

    <div class="row1">
  
      <div class="column1">
        <img src="assets/download (1).jpg" width="100%">
    </div>
    
    
    <div class="column1" id="contents">


    <form name="form" (ngSubmit)="login()" #f="ngForm" style="text-align:center;">
    
    
    <br>
    <br>
  
    <div class="row3">
      <div class="column3" style="padding-left: 27%;text-align: left;">
        <strong id="wb" >Welcome Back!</strong> <br><br>
    
        <i>Please login into your account</i> <br><br>
      </div>
      <div class="column3" style="padding-right: 15%;" >
       <img src="assets/SandhiBaseLogo.jpg" style="width: 60px;">
      </div>
    </div>
    
      
    
    
      <mat-form-field style="width:44%;" appearance="standard">
      <input
      matInput
      placeholder="Email"
      required
      name="email"
      ngModel
      #email="ngModel">
      <mat-error *ngIf="email.invalid">Email is required</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    
      </mat-form-field> <br>
      
      <mat-form-field style="width:44%;" appearance="standard">
        <input
        matInput
        placeholder="Password"
        type="password"
        required
        minlength="6"
        name="password"
        ngModel
        #password="ngModel">
        <mat-error
        *ngIf="password.errors && password.errors.required">
        Password is required
        </mat-error>
        <mat-error
        *ngIf="password.errors && password.errors.minlength">
        Password must be of length 6
        </mat-error>
        <mat-icon matSuffix>lock</mat-icon>
        
        </mat-form-field>
    
    
    
      <br><br>
    
      <mat-slide-toggle>Remember Me</mat-slide-toggle>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="text-align: right;" href="#">Forgot password ?</a>
     
        <button type="submit"    class="login-button">  LOGIN </button>
                  
                  
                
    
              <p>Don't have an account ?</p> 
    
    
              <button   mat-button (click)="Register()"  class="signup-button"> SIGN UP </button>
             
          
    
    <P>Or login with</P>
    
    <a href="https://facebook.com"><img src="assets/images (2).png" style="width: 80px;"></a> &nbsp;&nbsp;
    
    <a href="https://twitter.com"><img src="assets/images.png" style="width: 80px;"></a>&nbsp;&nbsp;
    <a href="https://googleplus.com"><img src="assets/images (4).png" style="width: 80px;"></a>&nbsp;&nbsp;
    <a href="https://linkedin.com"><img src="assets/images (1).png" style="width: 80px;"></a>
    
    <!--
      <a href="https://facebook.com"><img src="assets/images (2).png"></a>
    
    <a href="https://twitter.com"><img src="assets/images.png"></a>
    <a href="https://facebook.com"><img src="assets/images (4).png"></a>
    <a href="https://facebook.com"><img src="assets/images (1).png"></a>
    -->
    
    
    </form>
    </div>
    </div>
  
  
  
  
  
  
  
  </div>
